<div class="container">
    <div class="attendanceHeaderRow">
        <div>
            <h1 class="attendanceHeader">Take Attendance</h1>
        </div>
        <div >
            <label for="">Filter by status: </label>
            <a href="/attendance?status=NOT_SERVED" role="button" class="btn btn-warning">Not Served</a>
            <a href="/attendance?status=VOID" role="button" class="btn btn-secondary">Void</a>
            <a href="/attendance?status=EXCUSED" role="button" class="btn btn-info">Excused</a>
            <a href="/attendance?status=SERVED" role="button" class="btn btn-success">Served</a>
            <button class="submitAttendance btn btn-primary" type="submit" onclick="markPresent()">Submit Attendance</button>
        </div>
    </div>
    
    <div class="student-table-wrapper">
        {{!-- TODO: cite table --}}
        <table class="table student-table">
            <thead>
                {{!-- first header row --}}
                <tr>
                    <th scope="col" colspan="2" class="first-header-row"></th>
                    <th scope="col" colspan="3" class="first-header-row left-border">Student </th>
                    <th scope="col" colspan="3" class="first-header-row left-border">Teacher</th>
                    <th scope="col" colspan="4" class="first-header-row left-border">Referral</th>
                </tr>
                {{!-- second header row --}}
                <tr>
                    <th scope="col" class="table-header-number">#</th>
                    <th scope="col" class="table-header-number">Present</th>
                    {{!-- Student --}}
                    <th scope="col" class="table-header-name left-border">First Name</th>
                    <th scope="col" class="table-header-name">Last Name</th>
                    <th scope="col" class="table-header-number">Grade</th>
                    {{!-- Teacher --}}
                    <th scope="col" class="table-header-name left-border">First Name</th>
                    <th scope="col" class="table-header-name">Last Name</th>
                    <th scope="col" class="table-header-name">Email</th>
                    {{!-- Referral --}}
                    <th scope="col" class="table-header-date left-border">Date Made</th>
                    <th scope="col" class="table-header-reason">Reason</th>
                    <th scope="col" class="table-header-date">Status</th>
                    <th scope="col" class="table-header-date">Served On</th>

                </tr>
            </thead>
            <tbody>
                {{#each all_referrals}}
                    <tr class="align-middle ref-{{this.time_served.status}}">
                        <th scope="row">{{inc @index}}</th>
                        <td class="stud-present"><input type="checkbox" name="stud-present" id="{{this._id}}"></td>
                        <td class="stud-first left-border">{{this.student.name.first}}</td>
                        <td class="stud-last">{{this.student.name.last}}</td>
                        <td class="stud-grade">{{this.student.grade}}</td>
                        <td class="teach-first left-border">{{this.teacher.name.first}}</td>
                        <td class="teach-last">{{this.teacher.name.last}}</td>
                        <td class="teach-email">{{this.teacher.email}}</td>
                        <td class="ref-date left-border">{{this.date}}</td>
                        <td class="ref-reason">{{this.reason}}; {{this.description}}</td>
                        <td class="ref-status" scope="col">{{this.time_served.status}}</th>
                        <td class="ref-served-date">{{this.time_served.date}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
