
<div class="content">
    <div class="attendanceHeaderRow row justify-content-between">
        <h1 class="attendanceHeader col-md-6">EMAIL</h1>
    </div>
    <form action="">
        <legend>Select Student:</legend>
        <label for="refer-reason">Student Name</label>
        <select id="studentSelect" name="refer-reason" onchange="updateStudent()">
            <option value="" disabled selected>Please select...</option>
            {{#each all_referrals}}
                <option value="{{this._id}}">
                    {{this.student.name.first}} {{this.student.name.last}}, Grade {{this.student.grade}}
                </option>
            {{/each}}
        </select>
    </form>
    <form action="updateMonitor()">
        <legend>Select Monitor:</legend>
        <label for="refer-reason">Monitor Name</label>
        <select id="monitorSelect" name="refer-reason" onchange="updateMonitor()">
            <option value="" disabled selected>Please select...</option>
            {{#each all_monitors}}
                <option value="{{this._id}}">{{this.name.first}} {{this.name.last}}</option>
            {{/each}}
        </select>
    </form>
    <div class="email-draft">
        <p>To: <span class="email-name-date">teacher.email@skool.edu</span></p>
        <p>From: <span class="email-name-date">monitor.email@skool.edu</span></p>
        <p>Subject: <span class="email-name-date">STUDENT NAME</span> served detention on <span class="email-name-date">12/21/2019</span></p>
        
        <p>Hello <span class="email-name-date">TEACHER NAME</span>,</p>
        <p>
            On <span class="email-name-date">12/21/2019</span>, <span class="email-name-date">STUDENT NAME</span> received 
            a referral for <span class="email-name-date">REASON</span> OR <span class="email-name-date">REASON</span>: <span class="email-name-date">other</span>. 
            from <span class="email-name-date">TEACHER NAME</span>.
        </p>
        <p>
            On <span class="email-name-date">12/21/2019</span>, <span class="email-name-date">STUDENT NAME</span> served lunch 
            detention with <span class="email-name-date">MONITOR NAME</span>. OR <span class="email-name-date">STUDENT NAME</span> did not serve lunch 
            detention on <span class="email-name-date">12/21/2019</span> with <span class="email-name-date">MONITOR NAME</span> as scheduled. The status for 
            <span class="email-name-date">Referral ###</span> is now <span class="email-name-date">STATUS</span>. 
        </p>
        <p>
            If you have any additional questions about <span class="email-name-date">STUDENT NAME</span>'s detention, please contact
            <span class="email-name-date">MONITOR NAME</span> at <span class="email-name-date">monitor.email@skool.edu</span>. 
        </p>
        <p>
            Thank you, <br>
                <span class="email-name-date">MONITOR NAME</span>
        </p>
    </div>
    <button class="submitAttendance btn btn-info col-1" type="submit" onclick="encodeEmail()">Send Email</button>
</div>
