
<div class="container">
    <div class="">
        <h1 class="">Email Draft</h1>
        <p class="text-muted">Draft an email to let teachers know which students have served their lunch detention.</p>
    </div>
    
    <form class="row select-email">
        <div class="form-group col-md-6">
            <legend>Select Student:</legend>
            <select id="studentSelect" class="custom-select" name="refer-reason" onchange="getReferral()">
                <option value="" disabled selected>Please select...</option>
                {{#each served_referrals}}
                    <option value="{{this._id}}">
                        {{this.student.name.first}} {{this.student.name.last}}, Grade {{this.student.grade}}
                    </option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-6 form-group">
            <legend>Select Monitor:</legend>
            <select id="monitorSelect" name="refer-reason" class="custom-select" onchange="getMonitor()">
                <option value="" disabled selected>Please select...</option>
                {{#each all_monitors}}
                    <option value="{{this._id}}">{{this.name.first}} {{this.name.last}}</option>
                {{/each}}
            </select>
        </div>       
    </form>
    {{!-- TODO: cite  https://getbootstrap.com/docs/4.3/components/card/#kitchen-sink--}}
    <div class="email-draft">
        <div class="card">
            <div class="card-header">
                <p>To: <span id="to-address" class="teacher-email">teacher@email.com</span></p>
                <p>From: <span id="from-address" class="monitor-email">monitorr@email.com</span></p>
                <p>Subject: <span class="student-name">STUDENT NAME</span> served detention on <span class="date-served">12/12/2012</span></p>
            </div>
            <div class="card-body">
                <p>Hello <span class="teacher-name">TEACHER NAME</span>,</p>
                <p>
                    On <span class="referral-date">12/01/2012</span>, <span class="student-name">STUDENT NAME</span> received 
                    a referral for <span class="referral-reason">REASON</span><span class="other-reason"></span>. 
                    from <span class="teacher-name">TEACHER NAME</span>.
                </p>
                <p>
                    On <span class="date-served">12/21/2019</span>, <span class="student-name">STUDENT NAME</span> served lunch 
                    detention with <span class="monitor-name">MONITOR NAME</span>. The status for 
                    Referral #<span class="referral-id">##</span> is now <span class="served-status">STATUS</span>. 
                </p>
                <p>
                    If you have any additional questions about <span class="student-name">STUDENT NAME</span>'s detention, please contact
                    <span class="monitor-name">MONITOR NAME</span> at <span class="monitor-email">monitor.email@skool.edu</span>. 
                </p>
                <p>
                    Thank you, <br>
                    <span class="monitor-name">MONITOR NAME</span>
                </p>
            </div>
            <div class="card-footer text-muted">
                <a target="_blank" href="https://www.makeuseof.com/tag/how-to-change-the-default-email-program-for-mailto-links/">Make sure to set up your favorite email app as your browser's default!</a>
                <button class="submitAttendance btn btn-info" type="submit" onclick="getBoth()">Send Email</button>
            </div>
        </div>
    </div>
</div>

