
<div class="container">
    <div class="attendanceHeaderRow row justify-content-between">
        <h1 class="attendanceHeader col-md-6">EMAIL</h1>
    </div>
    <form action="">
        <legend>Select Student:</legend>
        <label for="refer-reason">Student Name</label>
        <select id="studentSelect" name="refer-reason" onchange="getReferral()">
            <option value="" disabled selected>Please select...</option>
            {{#each served_referrals}}
                <option value="{{this._id}}">
                    {{this.student.name.first}} {{this.student.name.last}}, Grade {{this.student.grade}}
                </option>
            {{/each}}
        </select>
    </form>
    <form action="updateMonitor()">
        <legend>Select Monitor:</legend>
        <label for="refer-reason">Monitor Name</label>
        <select id="monitorSelect" name="refer-reason" onchange="getMonitor()">
            <option value="" disabled selected>Please select...</option>
            {{#each all_monitors}}
                <option value="{{this._id}}">{{this.name.first}} {{this.name.last}}</option>
            {{/each}}
        </select>
    </form>
    <div class="email-draft">
        <p>To: <span id="to-address" class="teacher-email">teacher@email.com</span></p>
        <p>From: <span id="from-address" class="monitor-email">monitorr@email.com</span></p>
        <p>Subject: <span class="student-name">STUDENT NAME</span> served detention on <span class="date-served">12/12/2012</span></p>
        
        <p>Hello <span class="teacher-name">TEACHER NAME</span>,</p>
        <p>
            On <span class="referral-date">12/01/2012</span>, <span class="student-name">STUDENT NAME</span> received 
            a referral for <span class="referral-reason">REASON</span><span class="other-reason"></span>. 
            from <span class="teacher-name">TEACHER NAME</span>.
        </p>
        <p>
            On <span class="date-served">12/21/2019</span>, <span class="student-name">STUDENT NAME</span> served lunch 
            detention with <span class="monitor-name">MONITOR NAME</span>. The status for 
            Referral #<span class="referral-id">##</span> is now <span class="served-status">STATUS</span>. 
        </p>
        <p>
            If you have any additional questions about <span class="student-name">STUDENT NAME</span>'s detention, please contact
            <span class="monitor-name">MONITOR NAME</span> at <span class="monitor-email">monitor.email@skool.edu</span>. 
        </p>
        <p>
            Thank you, <br>
                <span class="monitor-name">MONITOR NAME</span>
        </p>
    </div>
    <button class="submitAttendance btn btn-info col-1" type="submit" onclick="getBoth()">Send Email</button>
</div>
