<div>
    <form method="post" action="/insert" class="">
        <legend>Exercise Information:</legend>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="lastName">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Sit ups" required>
            </div>
            <div class="form-group col-md-6">
                <label for="date">Date</label>
                <input type="date" class="form-control" name="date" placeholder="11/12/2019" required>
            </div>
            <div class="form-group col-md-6">
                <label for="stud-grade">Weight Used</label>
                <input type="number" class="form-control" name="weight" placeholder="15" required>
            </div>
            <div class="form-group col-md-3">
                <label for="reps">Reps</label>
                <input type="number" class="form-control" name="reps" placeholder="35" required>
            </div>
            <div class="form-group col-md-3">
                <label for="unit">Unit</label><br>
                <label for="lbs">lbs <input type="radio" name="lbs" value="1"></label>
                <label for="kg">kg <input type="radio" name="lbs" value="0"></label>
            </div>
        </div>
        
        <button class="btn btn-info my-4 btn-block" id="submit" type="submit">Submit</buttom>
    </form>
</div>
<hr>
<div>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Date</th>
            <th>Weight Used</th>
            <th>Reps</th>
            <th>Unit</th>
        </thead>
        <tbody>
            {{#each results}}
                <tr class="align-middle ref-{{this.id}}">
                    <td class="name">{{this.name}}</td>
                    <td class="date">{{this.date}}</td>
                    <td class="weight">{{this.weight}}</td>
                    <td class="reps">{{this.reps}}</td>
                    <td class="unit">
                        {{#if this.lbs}}
                            lbs
                        {{else}}
                            kg
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
